body {
  margin: 0;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#map {
  width: 100%;
  height: calc(100vw / var(--aspect-ratio));
  margin-top: var(--v-offset);
}

canvas {
  display: block; 
}

.gtfs {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  border-radius: 18px;
  min-width: 18px; /*  should be same as border radius */
  text-align: center;
  color: white;
  line-height: 20px; /* height plus padding? */
  height: 18px;
  padding: 2px 2px;
  /* margin: 5px; */
  border: 2px solid white;
}

.ship {
  text-align: center;
  font-size: 8px;
  color: black;
  background-color: white;
  padding: 2px;
  border: 1px solid white;
  position: relative;
  display: inline-block;
  transform-origin: center;
}
  
.ship::before { /* Rounded stern */
  content: '';
  position: absolute;
  left: -8px;
  top: -1px;
  width: 6px;
  height: 11px;
  padding: 2px;
  background-color: white;
  border-radius: 10px 0 0 10px;
  border: 1px solid white;
  z-index: -1;
}

.ship::after {
  content: '';
  position: absolute;
  right: -24px; /* Extend 20px to the right */
  top: -1px;  /* Align the top to center the curve */
  width: 20px;  /* Width of the extended part */
  height: 13px; /* Total height to match the curve */
  padding: 2px;
  background-color: white;
  /* clip-path: path('M0 0 C10 0, 20 4, 20 7, 20 11, 10 14, 0 18'); */
  clip-path: path('M0 0 Q25 9, 0 18');

  /* border: 1px solid white; */
  z-index: -1;
}

.plane {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.plane img {
  width: 100%;
  height: 100%;
  transform-origin: center;
  z-index: 1000;
}
.plane div {
  display: inline-block;
  background-color: white;
  padding: 0px 2px;
  border: 1px solid white;
  border-radius: 5px;
  z-index: 1000;
}
  